body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
        
    }


h1{
    color: #66BFBF;
    font-size: 90px;
    margin-top: 50px;
    line-height: 1;
    font-family: 'Sacramento', cursive;
}

p{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: #B9F8D3;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    
    
}


.pro{
    text-decoration: underline;
}

.top-cloud {
    position:absolute;
    right: 300px;
    top: 50px;   
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.hot-wings{
    width: 25%;
    
    
}
.computer{
    width: 25%;
    
}
.profile-pic{
    width: 15%;
    border-radius: 100%;
}

